title = "films-by-genre"
meta_title = "Фильмы"
layout = "default"
url = "/:genre/films"
[Films]
maxItems = 10
[FilmCrew]
==
<section>
    <h1>Фильмы</h1>

    {% component 'Films' %}
    {% component 'FilmCrew' %}
    {% set films = Films.getFilmsByGenre %}
    <section>
        <form data-request="Films::onFilter" data-request-update="{ 'films-list': '#films-list' }">
            <div>
                <label class="font-weight-bold">Дата выпуска</label>
                <input type="date" name="release_date_from">
                <span>-</span>
                <input type="date" name="release_date_until">
            </div>
            <div>
                <label class="font-weight-bold">Режиссеры</label>
                <br>
                <div class="d-flex flex-wrap mw-75">
                    {% for director in FilmCrew.directors%}
                    <div class="d-flex p-1">
                        <input type="checkbox" name="directors[]" value="{{director.id}}"> 
                        <label for="">{{ director.last_name~" "~director.first_name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <label class="font-weight-bold">Актеры</label>
                <br>
                <div class="d-flex flex-wrap mw-75">
                    {% for actor in FilmCrew.actors%}
                    <div class="d-flex p-1">
                        <input type="checkbox" name="actors[]" value="{{actor.id}}"> 
                        <label for="">{{ actor.last_name~" "~actor.first_name }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit">Найти</button>   
        </form>
    </section>

    <section id="films-list">
        <h5>Фильмы</h5>
        {% partial 'films-list' films=films %}

    <section>
</section>